[submodule "tests/lib/googletest"]
	path = tests/lib/googletest
	url = https://github.com/google/googletest
[submodule "benchmark/lib"]
	path = benchmark/lib
	url = https://github.com/google/benchmark
[submodule "benchmark/third_party/eigen"]
	path = benchmark/third_party/eigen
	url = https://github.com/RLovelett/eigen
